@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

/*hero section */
.heroSection {
  background: url("https://res.cloudinary.com/diwmaqpd8/image/upload/v1755439557/chocoCake_z1rput.png")
    center/cover no-repeat;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .shapeDivider svg {
    width: calc(135% + 1.3px);
    height: 70px;
  }
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  padding: 1rem;
  color: white;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */

.heroHeading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .heroSection {
    height: 19rem;
  }
}
