@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap");

.testimonials {
  padding: 2rem 1rem;
  /* background: linear-gradient(
    to right,
    rgba(26, 29, 43, 0.9),
    rgba(26, 29, 43, 0.9)
  ); */
  color: #fff;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.card {
   background: rgba(255, 255, 255, 0.18);
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 1px solid #ffffff;
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid #787373;
}

.message {
  font-style: italic;
  color: #000;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.name {
  font-weight: 600;
  color: #ab47bc;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: "Lato", sans-serif;
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.role {
  color: #787373;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: #db3d3d;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .card {
    padding: 1rem;
  }

  .image {
    width: 60px;
    height: 60px;
  }

  .message {
    font-size: 0.95rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Hide buttons on mobile if you prefer swipe */
    color: #ab47bc;
  }
}
