@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

/*cake images */
.cakesContainer {
  padding: 1rem;
  text-align: center;
  background: #111;
}

/* .overFlowContainer {
  height: 300px;
  overflow-y: auto;
} */

.heading {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  padding: 0 7rem;
  justify-items: center;
}

.item {
  background: rgba(225, 225, 225, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 10px rgba(128, 0, 128, 0.5);
}

.galleryImages {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/**/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalImage {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0 5px;
  border-radius: 5px;
  background: #ab47bc;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .heroSection {
    padding: 0;
    height: 15rem;
    width: 100%;
  }

  .cakesContainer {
    padding: 1rem 0;
  }

  .heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0;
  }

  .item {
    width: 145px;
    height: 145px;
  }

  .modalContent {
    padding: 0.5rem;
  }

  .closeButton {
    font-size: 1.2rem;
  }
}
