.heroSection {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.swiperContainer {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(30, 0, 50, 0.6); /* translucent dark purple overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  text-align: center;
}

.textWrapper {
  color: #fff;
  max-width: 800px;
  display: block;
  position: relative;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #f0e6ff; /* light lavender */
  color: #d6b3ff; /* soft lavender */
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #d6b3ff; /* soft lavender */
  color: #eee;
}

/* Responsive styles */

@media (max-width: 1024px) {
  .heroSection {
    height: 50vh;
  }

  .heading {
    font-size: 2.5rem;
  }

  .slide {
    height: 50vh;
  }

  .description {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  .heroSection {
    height: 418px;
  }

  .textWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .slide {
    height: 58vh;
  }
}

@media (max-width: 480px) {
  .slide {
    height: 63vh;
  }

  .heading {
    font-size: 1.6rem;
  }

  .description {
    font-size: 0.95rem;
  }
}

@media (max-width: 375px) {
  .textWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
